h2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    gap: 12px;
    max-width: 420px;
}

input {
    width: 98vw; /* 100% del ancho del viewport */
}

.contenedor-botones {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.boton-submit {
    background-color: blue;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
}

.boton-submit:hover {
    background-color: aqua;
}

.boton-cancelar {
    background-color: red;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
}

.boton-cancelar:hover {
    background-color: rgb(194, 197, 37);
}