.contenedor-principal-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0,4);
    display: grid;
    place-items: center;
    z-index: 1000;
}

.contenedor-titulo {
    background: white;
    padding: 16px;
    border-radius: 8px;
    max-width: 420px;
    border: 3px solid black;
}

h4 {
    margin-top: 0;
}

.contenedor-botones-modal {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.boton-cancel-modal {
    background-color: rgb(153, 0, 255);
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
}

.boton-cancel-modal:hover {
    background-color: rgb(37, 106, 197);
}

.boton-eliminar-modal {
    background-color: red;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
}

.boton-eliminar-modal:hover {
background-color: rgb(194, 197, 37);
}